/* .body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.res-card{
    border: solid 1px black;
    background-color: hsla(0, 0%, 75%, 0.947);
    width: 200px;
    height: auto;
    padding: 5px;
    cursor: pointer;
}
.res-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.res-card-all {
  display: flex;
  flex-wrap: wrap;           /* Wrap to next line if too many cards */
  /* justify-content: left;   /* Center them horizontally */
  /* gap: 20px;                 /* Space between cards */
/* } 
.res-logo{
    height: 150px;
    width: 190px;
    padding: 5px; */
/* }    */