/* .header{
    border:1px solid black;
    padding: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
    height: auto;
    width: 150px;
    cursor: pointer;
}

.nav-items ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 30px;
    padding: 0px 20px;
    gap: 50px;
} */